<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FreeU2F.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F12BEB641F58D99200B346C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F12BEB751F58D99200B346C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F12BEB801F58D99200B346C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
